
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins' , sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #696969; ;

}
.button{
    position: relative;
    display: inline-flex;
    padding: 10px 30px;
    background: #0AFFFF;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    overflow: hidden;


}
.button span{
    position: relative;
    z-index: 1;
    
}
.button::before{
    /* position: relative;
    display: inline-flex;
    padding: 10px 30px;
    background: grey;
    color: white;
    text-decoration: none;
    letter-spacing: 1px; */
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%,-50%);
    width: 0px;

    height: 0px;
    border-radius: 50%;
    background:black;
    transition: width 0.5s,height 0.5s;
 

}

.button:hover::before
{
    width: 300px;
    height: 300px;

}